h1 {
    font-family: Georgia;
}

body {
    background-color: #fedccd;
}

p {
    font-size: 20px;
    font family: courier;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: #ff9999;
}

h2 {
   margin-top: -20px;
}